/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace samples "com.pialabs.eskimo.samples.*";
@namespace views "com.pialabs.eskimo.views.*";

@media (os-platform:"ANDROID")
{
    samples|FormView
    {
        backgroundColor: #000000;
    }
    
    samples|FormView s|Label
    {
        color: #FFFFFF;
    }
}
@media (os-platform:"IOS")
{
    views|SampleListView #filterInput
    {
        skinClass: ClassReference("com.pialabs.eskimo.skins.mobile.ios.SearchTextInputSkin");
    }
}